#scroll-indicator {
  @extend %info-button;
  position: relative;
  display: none;
  @include respond-to('large') {
    display: block;
    margin-top: 25%;
  };
  &::after {
    content: "";
    height: 8px;
    width: 40px;
    background-image: url("../img/btn-arrow.png");
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
  }
}
